In [40]:
!pip install convertbng

from convertbng.util import convert_bng, convert_lonlat

Requirement already satisfied: convertbng in /usr/local/lib/python3.6/site-packages (0.6.25)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/site-packages (from convertbng) (1.15.0)
WARNING: You are using pip version 20.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [41]:
# lon=-0.053026
# lat=51.545594

# # convert a single value
# res = convert_bng(lon, lat)
# res

In [42]:
# # convert lists of BNG Eastings and Northings to longitude, latitude
# eastings = [535102.8, 565934, 598735]
# northings = [184762.581, 197347, 174420]
# res_list_en = convert_lonlat(eastings, northings)

# res_list_en

In [43]:
import pandas as pd
data = [[534826.525, 185447.978],[509465.8,184762],[51549,184762]]
dataframe = pd.DataFrame(data, columns = ['easting', 'northing'])
dataframe

      easting    northing
0  534826.525  185447.978
1  509465.800  184762.000
2   51549.000  184762.000

In [44]:
[dataframe['lon'],dataframe['lat']] = convert_lonlat(dataframe.easting, dataframe.northing)

dataframe

      easting    northing       lon        lat
0  534826.525  185447.978 -0.056746  51.551819
1  509465.800  184762.000 -0.422580  51.551139
2   51549.000  184762.000 -7.017711  51.454293